In [ ]:
!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n
import math

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/rcpsilva/BCC325_ArtificialIntelligence/main/2022-1/Problem%20sets%20(in%20Portuguese)/datasets/candidatos.csv")

In [ ]:
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000
8        one         6.0                6   40000

In [ ]:
df['experience']

0       NaN
1       NaN
2      five
3       two
4     seven
5     three
6       ten
7    eleven
8       one
Name: experience, dtype: object

In [ ]:
i = 2
while i < len(df['experience']):
  df['experience'][i] = w2n.word_to_num(df['experience'][i])
  i+=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2          5         6.0                7   60000
3          2        10.0               10   65000
4          7         9.0                6   70000
5          3         7.0               10   62000
6         10         NaN                7   72000
7         11         7.0                8   80000
8          1         6.0                6   40000

In [ ]:
median_experience = math.floor(df["experience"].median())
median_score = math.floor(df["test_score"].median())

In [ ]:
df["experience"] = df["experience"].fillna(median_experience)
df["test_score"] = df["test_score"].fillna(median_experience)

In [ ]:
df

   experience  test_score  interview_score  salary
0           5         8.0                9   50000
1           5         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         5.0                7   72000
7          11         7.0                8   80000
8           1         6.0                6   40000

In [ ]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(df[['experience', 'test_score', 'interview_score']], df['salary'])

LinearRegression()

In [ ]:
reg.coef_

array([3289.27187353, 1200.12371247, 3033.12555107])

In [ ]:
employe = [[20, 6, 5]]

In [ ]:
reg.predict(employe)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([98633.12418408])